footer {
    background-color: $color-dos;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 120px;
        height: 90px;
    }

    div {
        a {
            img {
                width: 30px;
                height: 30px;
                transition: 2s;

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
}