.texto {
    .titulo {
        h3 {
            font-size: 30px;
            text-align: center;
            margin: 30px;

        }
    }
}

.texto {
    .titulo {
        .parrafo {
            p {
                text-align: center;
                font-size: 16px;
<<<<<<< HEAD
                @include font;
=======
                font-family: SuisseIntl, NeueHelvetica55Roman, sans-serif;
>>>>>>> 17dfbdf57fea68a17d7012898a3c57f9916c3d55
            }
        }
    }
}