
@media screen and (max-width:980px) {
    header {
        flex-direction: column;
    }

    .video {
        flex-direction: column;
    }


.grid-galeria {
    grid-template-columns: (2, 1fr);
}

.fondo {
    flex-direction: column;
}

}

@media screen and (max-width:760px) {

    .grid-galeria {
        grid-template-columns: 1fr;
        
    }

    .grid-galeria .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .info h3 {
        font-size: 20px;
    }

    .info p {
        font-size: 17px;
    }

    .video {
        flex-direction: column;
    }

    .boton-fixed img {
        display: none;
    }

    .hoja {
        display: flex;
        flex-direction: column;
    }

    .container{
        margin: 5px;

    }

}

@media screen and (max-width:577px){
<<<<<<< HEAD
.form2{
    flex-direction: column;
}
.ubicacion .map{
    width: 85%;
    margin-left: 3em;
=======
    .container-2{
        display: flex;
        margin: 10px;
>>>>>>> 17dfbdf57fea68a17d7012898a3c57f9916c3d55
}

.form2{
    flex-direction: column;
}


@media screen and (max-width:480px) {

    .grid-galeria {
        grid-template-columns: 1fr;
        
    }

    .grid-galeria .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

<<<<<<< HEAD

.form2{
    flex-direction: column;
}
footer{
    flex-direction: column;
}
footer .derechos{
    font-size: 15px;
    text-align: center;
}


=======
.form2{
    flex-direction: column;
}
footer .derechos{
    font-size: 15px;
    text-align: center;
}
>>>>>>> 17dfbdf57fea68a17d7012898a3c57f9916c3d55
}